* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;;
    background: radial-gradient(circle, #FAEBE0, #C9E4C5, #B5CDA3, #C1AC95);
    font-family: Arial, sans-serif;
}

.newsreader-title {
    font-family: "Newsreader", serif;
    font-size: 5rem;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: #685752;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    text-align: center;
}

.cutive-mono-subtitle {
    font-family: "Cutive Mono", serif;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #5C534D;
    margin-top: 10px;
    text-align: center;
}

.prompt-container {
    position: relative;
    display: inline-block;
    margin-top: 80px;
}

.container {
    width: 600px;
    height: 200px;
    padding: 20px;
    border-radius: 12px;
    background: rgba(128, 128, 128, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 1rem;
    color: #fff;
    outline: none;
    overflow: auto;
    white-space: pre-wrap;
    margin-top: 20px;
}

.quicksand-prompt {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    color: #1F4529;
    position: absolute;
    top: -25px;
    left: 20px;
    margin: 0;
}

.container:empty::before {
    content: attr(data-placeholder);
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    pointer-events: none;
    margin-top: 40px;
}

.container textarea:focus {
    border-color: #5cb85c;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}




