<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenful AI</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;1,6..72,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1 class="newsreader-title">Zenful AI</h1>
    <h2 class="cutive-mono-subtitle">MINDFUL MOMENTS, INSPIRED LIVES</h2>

    <div class="prompt-container">
        <h3 class="quicksand-prompt">Hi! How are you feeling today?</h3>
        <div class="container" contenteditable="true" data-placeholder="Write down your thoughts here..."></div>
    </div>

</body>
</html>


