<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenful AI</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;1,6..72,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1 class="newsreader-title">Zenful AI</h1>
    <h2 class="cutive-mono-subtitle">MINDFUL MOMENTS, INSPIRED LIVES</h2>

    <form method="POST" action="/" class="form-container">
        <div class="prompt-container">
            <h3 class="quicksand-prompt">Hi! How are you feeling today?</h3>
            <textarea name="user_input" placeholder="Write down your thoughts here..." required></textarea>
        </div>
        <div class="button-container">
            <button type="submit" class="button-33" role="button">Analyze Me</button>
        </div>
    </form>

    {% if mood_response %}
    <div class="results-container">
        <h3>Results:</h3>
        <p>{{ mood_response }}</p>
    </div>
    {% endif %}
</body>
</html>






